In [12]:
import pandas as pd
import numpy as np
import glob

In [2]:
df = pd.read_sas('hn22_all_240111.sas7bdat')

In [3]:
df

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,N_RETIN,N_B1,N_B2,N_NIAC,N_FOLATE,N_VITC,LF_secur_y,LF_BUYER,LF_SAFE,N_DUSUAL
0,b'2024.01.11.',b'YA25210201',b'YA252102',2022.0,1.0,1.0,1.0,b'YA25',1.0,57.0,...,67.799751,1.430244,2.845894,19.495316,572.636977,82.019107,1.0,1.0,2.0,b'2'
1,b'2024.01.11.',b'YA25210202',b'YA252102',2022.0,1.0,1.0,1.0,b'YA25',2.0,56.0,...,26.185661,0.475822,0.705203,5.355223,186.860125,76.470913,1.0,NaN,2.0,b'2'
2,b'2024.01.11.',b'YA25210203',b'YA252102',2022.0,1.0,1.0,1.0,b'YA25',1.0,31.0,...,221.358229,2.033640,1.790931,12.490390,307.173484,24.674009,1.0,NaN,2.0,b'1'
3,b'2024.01.11.',b'YA25210204',b'YA252102',2022.0,1.0,1.0,1.0,b'YA25',2.0,23.0,...,136.387928,2.296928,3.157964,21.582161,770.252352,284.624010,1.0,NaN,2.0,b'3'
4,b'2024.01.11.',b'YA25220302',b'YA252203',2022.0,1.0,1.0,1.0,b'YA25',2.0,63.0,...,34.345680,0.768213,1.591037,13.712518,342.101504,69.738751,1.0,NaN,1.0,b'1'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6260,b'2024.01.11.',b'YR01434701',b'YR014347',2022.0,8.0,2.0,1.0,b'YR01',2.0,66.0,...,121.976057,0.685846,1.125079,6.327766,349.403881,21.612649,1.0,1.0,2.0,b'2'
6261,b'2024.01.11.',b'YR01452901',b'YR014529',2022.0,8.0,2.0,1.0,b'YR01',2.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'.'
6262,b'2024.01.11.',b'YR01454901',b'YR014549',2022.0,8.0,2.0,1.0,b'YR01',1.0,58.0,...,14.173375,0.956991,1.163517,12.477691,629.212067,135.782718,1.0,1.0,1.0,b'2'
6263,b'2024.01.11.',b'YR01456901',b'YR014569',2022.0,8.0,2.0,1.0,b'YR01',1.0,77.0,...,7.403579,1.381298,0.944017,11.061362,322.172364,21.079635,1.0,NaN,1.0,b'2'
6264,b'2024.01.11.',b'YR01456902',b'YR014569',2022.0,8.0,2.0,1.0,b'YR01',2.0,75.0,...,20.899701,1.337801,2.135642,18.295476,560.339783,68.152242,1.0,1.0,1.0,b'2'

# Data Load

In [23]:
dfs = []
filt_pattern = 'Data/*.sas7bdat'
fileList = glob.glob(filt_pattern)

for f in fileList :
    df = pd.read_sas(f)
    dfs.append(df)

In [24]:
dfs[15]

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,N_B1,N_B2,N_NIAC,N_FOLATE,N_VITC,LF_secur_y,LF_BUYER,LF_SAFE,N_DUSUAL,HE_D3_epi
0,b'2024.01.11.',b'YA01220302',b'YA012203',2022.0,1.0,1.0,2.0,b'YA01',2.0,56.0,...,0.814587,1.182300,10.042185,291.264557,32.441192,1.0,NaN,1.0,b'3',NaN
1,b'2024.01.11.',b'YA01220303',b'YA012203',2022.0,1.0,1.0,2.0,b'YA01',1.0,30.0,...,1.829417,2.017004,18.342991,329.385371,79.903529,1.0,NaN,1.0,b'3',NaN
2,b'2024.01.11.',b'YA01220304',b'YA012203',2022.0,1.0,1.0,2.0,b'YA01',2.0,25.0,...,0.262020,1.379288,3.042505,69.694336,2.776080,1.0,1.0,1.0,b'2',NaN
3,b'2024.01.11.',b'YA01236501',b'YA012365',2022.0,1.0,1.0,2.0,b'YA01',1.0,66.0,...,1.338621,2.325439,18.325182,633.687278,112.775603,1.0,NaN,1.0,b'2',NaN
4,b'2024.01.11.',b'YA01236502',b'YA012365',2022.0,1.0,1.0,2.0,b'YA01',2.0,62.0,...,1.317710,2.564474,17.852091,690.090821,121.924030,1.0,1.0,1.0,b'2',NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6260,b'2024.01.11.',b'YR38363902',b'YR383639',2022.0,8.0,1.0,2.0,b'YR38',2.0,26.0,...,0.325227,1.696439,4.784589,173.415000,40.281930,1.0,2.0,2.0,b'2',NaN
6261,b'2024.01.11.',b'YR38365901',b'YR383659',2022.0,8.0,1.0,2.0,b'YR38',1.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'.',NaN
6262,b'2024.01.11.',b'YR38368001',b'YR383680',2022.0,8.0,1.0,2.0,b'YR38',2.0,58.0,...,1.596080,2.263162,17.249301,840.642746,320.516175,1.0,1.0,2.0,b'1',NaN
6263,b'2024.01.11.',b'YR38368002',b'YR383680',2022.0,8.0,1.0,2.0,b'YR38',1.0,62.0,...,1.844611,1.904079,13.545765,541.703206,127.114502,1.0,NaN,2.0,b'2',NaN
6264,b'2024.01.11.',b'YR38376001',b'YR383760',2022.0,8.0,1.0,2.0,b'YR38',1.0,52.0,...,0.552137,1.757879,5.548412,136.519523,3.399625,1.0,1.0,1.0,b'2',NaN

In [28]:
combined_df = pd.concat(dfs, axis = 0)

In [29]:
combined_df

,mod_d,id,year,region,town_t,apt_t,psu,sex,age,incm,...,BIA_FRL,BIA_FLL,BIA_TBW,BIA_ICW,BIA_ECW,BIA_WBPA50,T_NQ_PH2,T_NQ_PH2_T,N_BF,HE_D3_epi
0,b'2022.03.08',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2022.03.08',b'A548480902',2007.0,1.0,1.0,1.0,b'A548',2.0,50.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2022.03.08',b'A548480903',2007.0,1.0,1.0,1.0,b'A548',1.0,23.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2022.03.08',b'A548480904',2007.0,1.0,1.0,1.0,b'A548',2.0,21.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2022.03.08',b'A548560901',2007.0,1.0,1.0,1.0,b'A548',2.0,35.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6260,b'2024.01.11.',NaN,2022.0,8.0,1.0,2.0,b'YR38',2.0,26.0,1.0,...,2.3,2.3,21.9,13.5,8.4,4.0,1.0,20.0,2.0,NaN
6261,b'2024.01.11.',NaN,2022.0,8.0,1.0,2.0,b'YR38',1.0,31.0,3.0,...,2.0,2.0,37.7,23.7,14.0,6.4,1.0,150.0,NaN,NaN
6262,b'2024.01.11.',NaN,2022.0,8.0,1.0,2.0,b'YR38',2.0,58.0,4.0,...,3.6,3.5,32.2,19.5,12.7,4.5,1.0,180.0,2.0,NaN
6263,b'2024.01.11.',NaN,2022.0,8.0,1.0,2.0,b'YR38',1.0,62.0,4.0,...,2.6,2.6,39.0,24.1,14.9,5.6,2.0,8888.0,8.0,NaN
6264,b'2024.01.11.',NaN,2022.0,8.0,1.0,2.0,b'YR38',1.0,52.0,4.0,...,2.6,2.6,42.8,27.0,15.8,6.6,1.0,30.0,8.0,NaN

In [30]:
combined_df2 = pd.concat(dfs[-4:-1])

In [31]:
combined_df2

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,T_VHIT_EX_L,T_VHIT_EX_L_1,T_VHIT_GA_R,T_VHIT_GA_L,T_VHIT_COR_R,T_VHIT_COR_L,T_SOds,E_RT,E_CT,E_CLC_T
0,b'2023.12.07.',b'A751215301',b'A7512153',2019.0,1.0,1.0,1.0,b'A751',1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2023.12.07.',b'A751215303',b'A7512153',2019.0,1.0,1.0,1.0,b'A751',1.0,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2023.12.07.',b'A751220401',b'A7512204',2019.0,1.0,1.0,1.0,b'A751',1.0,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2023.12.07.',b'A751220402',b'A7512204',2019.0,1.0,1.0,1.0,b'A751',2.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2023.12.07.',b'A751220403',b'A7512204',2019.0,1.0,1.0,1.0,b'A751',1.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7085,b'2023.12.07.',b'R904351302',b'R9043513',2021.0,8.0,2.0,2.0,b'R904',1.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0,b'888'
7086,b'2023.12.07.',b'R904353001',b'R9043530',2021.0,8.0,2.0,2.0,b'R904',1.0,45.0,...,1.0,NaN,1.33,1.12,0.0,0.0,0.0,1.0,4.0,b'888'
7087,b'2023.12.07.',b'R904353002',b'R9043530',2021.0,8.0,2.0,2.0,b'R904',2.0,43.0,...,1.0,NaN,1.03,1.03,0.0,0.0,0.0,1.0,3.0,b'888'
7088,b'2023.12.07.',b'R904353003',b'R9043530',2021.0,8.0,2.0,2.0,b'R904',1.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7089,b'2023.12.07.',b'R904353004',b'R9043530',2021.0,8.0,2.0,2.0,b'R904',1.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN