In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_sas('hn22_all_240111.sas7bdat')

In [3]:
df

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,N_RETIN,N_B1,N_B2,N_NIAC,N_FOLATE,N_VITC,LF_secur_y,LF_BUYER,LF_SAFE,N_DUSUAL
0,b'2024.01.11.',b'YA25210201',b'YA252102',2022.0,1.0,1.0,1.0,b'YA25',1.0,57.0,...,67.799751,1.430244,2.845894,19.495316,572.636977,82.019107,1.0,1.0,2.0,b'2'
1,b'2024.01.11.',b'YA25210202',b'YA252102',2022.0,1.0,1.0,1.0,b'YA25',2.0,56.0,...,26.185661,0.475822,0.705203,5.355223,186.860125,76.470913,1.0,NaN,2.0,b'2'
2,b'2024.01.11.',b'YA25210203',b'YA252102',2022.0,1.0,1.0,1.0,b'YA25',1.0,31.0,...,221.358229,2.033640,1.790931,12.490390,307.173484,24.674009,1.0,NaN,2.0,b'1'
3,b'2024.01.11.',b'YA25210204',b'YA252102',2022.0,1.0,1.0,1.0,b'YA25',2.0,23.0,...,136.387928,2.296928,3.157964,21.582161,770.252352,284.624010,1.0,NaN,2.0,b'3'
4,b'2024.01.11.',b'YA25220302',b'YA252203',2022.0,1.0,1.0,1.0,b'YA25',2.0,63.0,...,34.345680,0.768213,1.591037,13.712518,342.101504,69.738751,1.0,NaN,1.0,b'1'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6260,b'2024.01.11.',b'YR01434701',b'YR014347',2022.0,8.0,2.0,1.0,b'YR01',2.0,66.0,...,121.976057,0.685846,1.125079,6.327766,349.403881,21.612649,1.0,1.0,2.0,b'2'
6261,b'2024.01.11.',b'YR01452901',b'YR014529',2022.0,8.0,2.0,1.0,b'YR01',2.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'.'
6262,b'2024.01.11.',b'YR01454901',b'YR014549',2022.0,8.0,2.0,1.0,b'YR01',1.0,58.0,...,14.173375,0.956991,1.163517,12.477691,629.212067,135.782718,1.0,1.0,1.0,b'2'
6263,b'2024.01.11.',b'YR01456901',b'YR014569',2022.0,8.0,2.0,1.0,b'YR01',1.0,77.0,...,7.403579,1.381298,0.944017,11.061362,322.172364,21.079635,1.0,NaN,1.0,b'2'
6264,b'2024.01.11.',b'YR01456902',b'YR014569',2022.0,8.0,2.0,1.0,b'YR01',2.0,75.0,...,20.899701,1.337801,2.135642,18.295476,560.339783,68.152242,1.0,1.0,1.0,b'2'